.git
.gitignore
.gitattributes
.gitmodules
__pycache__
*.pyc
node_modules
.venv
.vscode
.idea
*.egg-info
build
dist
.ruff_cache
.mypy_cache
.pytest_cache
logs
.data_cache
*.md
Makefile
README.md
CONTRIBUTING.md
LICENSE
scripts/
tests/
