:root {
  --background: 240 10% 98%;
  --foreground: 240 10% 10%;
  --card: 240 10% 96%;
  --card-foreground: 240 10% 10%;
  --border: 240 5% 88%;
  --muted: 240 5% 92%;
  --muted-foreground: 240 5% 45%;
  --accent: 240 5% 84%;
  --accent-foreground: 240 10% 10%;
  --destructive: 0 62% 30%;
  --destructive-foreground: 0 62% 90%;
  --ring: 240 5% 65%;
}

.dark {
  --background: 240 10% 4%;
  --foreground: 240 10% 90%;
  --card: 240 5% 8%;
  --card-foreground: 240 10% 90%;
  --border: 240 5% 14%;
  --muted: 240 5% 12%;
  --muted-foreground: 240 5% 45%;
  --accent: 240 5% 16%;
  --accent-foreground: 240 10% 90%;
  --destructive: 0 62% 30%;
  --destructive-foreground: 0 62% 90%;
  --ring: 240 5% 65%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
